/*-------------
 	General
-------------*/

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%
	width:100%;

	font-family: 'Roboto', sans-serif;
	font:  16px sans-serif;
	color: #555;
}
body{
height: 100%
	width:100%;
}


ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

button:active, button:focus {
  outline: none;
}

a.vklink{

	text-decoration: underline;
	color: #4c75a3;
	cursor: pointer;
	opacity: 0.9;

}

a.btn{
	color: #fff;
	/*border-radius: 4px;*/
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 500;
	text-align: center;

}

#btnvk{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #468BFA; /*#1F75FE*/
	font-weight: 500;
	text-align: center;

}

#btnmail{
	color: #e2e2e2;
	border-radius: 4px;
	border: 2px solid;
	border-colour: #e2e2e2;
	text-transform: uppercase;
	/*background-color: #e2e2e2; /*#A9A9A9*/
	font-weight: 500;
	text-align: center;
}




hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 50px;


}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	/*text-transform: capitalize; отвечает за заглавные буквы в каждом слове*/
	font: 42px 'Roboto', sans-serif;
	font-weight: 600;
	margin-bottom: 35px;
	text-align: center;

}

section p{
	max-width: 980px;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;

	font: 32px 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;



}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}




/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h1{
	font-family: 'Roboto', sans-serif;

}

header h2{
	font-family: 'Roboto', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;
}

header nav li:last-child{
	margin-right: 0;
}

.logo{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;

}


@media (max-width: 1000px){
	header{
		padding: 20px 50px;
		flex-direction: column;
	}
	header h2{
		margin-bottom: 30px;

	}

	header nav li{
		/*font-size: 15px;
		margin: 0 5px;*/
		display: none;

	}


	.logo{

		font-size: 0px;

	}




}


@media (max-width: 700px){
	header{
		flex-direction: column;

	}

	header h2{
		margin-bottom: 30px;
	}

	header nav li{
		/*font-size: 15px;
		margin: 0 5px;*/
		display: none;

	}

	.logo{
		font-size: 0px;

		/*display: none; убирает лого*/
	}
}

/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	height: 100vh;
	color: #fff;
	text-align: center;
}



.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;

	background-attachment: fixed; /*эффект параллакс*/


}



.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;

}

.font{
	font: 60px 'Roboto', sans-serif;
	margin-bottom: 15px;
}

.hero h1{

		font-family: 'Roboto', sans-serif;
		font-size: 48px;
		font-weight: 700;
		color: yellow;

		text-transform: uppercase;
		margin-top: 50px;
	}

.hero h3{
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 300;
	margin-top: 20px;
}

.hero a.btn{
	padding: 20px 46px;
	margin-top: 50px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;

	}

	.hero h3{
		font-size: 24px;


	}

	.hero a.btn{



	}

}

/*--------------------
 	Руны (Слайдер)
---------------------*/

.runesslider{

	background-color: #f7f7f7;

}

.runesslider p{

	font-size: 30px;

	}


.runes{
	font-size: 200px;
	font-color: white;
}

.btnrunes{

	vertical-align: middle;

	font-size: 80px;
	width: 40px;
	height: 100px;
	border: none;
	color: #2196F3;
	background: none;





}

.rune{

	vertical-align: middle;
	

}

.btnrngrune{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;


	color: white;
	background-color: #2196F3;

	padding: 20px;
	border-radius: 5px;
	border: inherit;

	opacity: 0.9;
	cursor: pointer;

	margin-top: 50px;
	margin-bottom: 50px;








}


.btnrngrune:hover{
	opacity: 1;
}

/*--------------------
 	Our Work Section
---------------------*/

.оur-work{
	background-color: #fff;
	padding-bottom: 10px;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}


/*----------------
 	Вопрос-ответ
----------------*/

.qna{


	}

.accordion {
	max-width: 980px;
	background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
  align-content: center;

}

.accordion i{
    color: #2196F3;
}

.active, .accordion:hover {
  background-color: #ccc;

}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.panel p{
	padding: 10px;
	text-align: left;
	font-size: 20px;
}



/*----------------------
 Последовательность обучения
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 70px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
    padding: 0;
    min-width: 320px;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #fff;
	max-width: 800px;
	align-items: center;
	justify-content: center;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}

}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
	font-size: 25px;

}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}



.contact form .btn{
	padding: 18px 42px;
	margin: 10px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}







/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 70px;
}

footer ul li{
	margin: 0 8px;
}

footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

@media (max-width: 420px){



	.hero h1{
		font-size: 30px;
	}

	.hero .background-image{


	background-attachment: scroll; /*эффект параллакс*/


}

	section{
		padding-top: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}

	section h3.title{
		font-size: 30px;
		margin-bottom: 20px;
	}

	section p{
		font-size: 18px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.runesslider{





	}


	.accordion {

  		width: 100%;
  		font-size: 20px;

	}

	.active, .accordion:hover {
  background-color: #ccc;

	}

	.panel{
		padding: 5px;
		display: none;
		background-color: white;
		overflow: hidden;
	}

	.panel p{
		padding: 5px;
		text-align: left;
		font-size: 18px;
		margin-bottom: 10px;
	}

	.runesslider p{

	font-size: 18px;

	}

	.features .grid li{
		padding: 0;
		flex-basis: 33%;
		text-align: center;
	}

	.features .grid li p{
		min-width: 300px;
    	width: 90vw;
	}

	.contact p{
		font-size: 25px;
	}

	#btnvk{
	min-width: 90vw;
	}

	#btnmail{
	min-width: 90vw;
	}

}


